@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:wght@400;600&display=swap');


:root {
    --color-primaria: #000000;
    --color-secundaria: #F6F6F6;
    --color-terciaria: #0b0c7c;
    --color-hover: #0b0c7c;

    --fuente-krona: 'Krona One', sans-serif;
    --fuente-montserrat: 'Montserrat', sans-serif;
}

* {
    padding: 0;
    margin:0;
}

body{
    box-sizing: border-box;
    background-color: var(--color-secundaria);
    color: var(--color-primaria);
}

.header{
    padding: 2% 0% 0% 2%;
}

.header__menu{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    gap: 80px;
    font-size: 5.5rem;
}

.presentacion {
    padding: 1% 1%;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.presentacion__contenido{
    padding: 1%;
    display: flex;
    flex-direction: column;
    gap: 40px;
}

.presentacion__contenido__titulo{
    font-size: 2rem;
    font-family: var(--fuente-krona);
}

.titulo-destaque {
    color: var(--color-terciaria); ;
}

.presentacion__contenido__texto{
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
}

.presentacion__texto{
    font-size: 1rem;
    font-family: var(--fuente-montserrat);
    resize: none;
}

.presentacion__enlaces{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 32px;
}

.presentacion__enlaces__subtitulo{
    font-family: var(--fuente-krona);
    font-weight: 400;
    font-size: 1.5rem;
}
.presentacion__enlaces__link{
      display: flex;
      justify-content: center;
      gap: 16px;
      border: 2px solid var(--color-terciaria);
      width: 50%;
      text-align: center;
      border-radius: 8px;
      font-size: 1.2rem;
      font-weight: 600;
      padding: 10px 0;
      text-decoration: none;
      color: var(--color-primaria);
      font-family: var(--fuente-montserrat);
}

.presentacion__enlaces__link:hover{
    color: var(--color-secundaria);
    background-color: var(--color-hover);
}

.footer{
    color:var(--color-primaria);
    text-align: start;
    font-family: var(--fuente-krona);
    font-size: 1.2rem;
}

@media (max-width: 1200px) {
    
    .presentacion{
        flex-direction: column; /*column-reverse;*/
        padding: 1%;
    }

    .presentacion__contenido{
        width: auto;
    }

    .presentacion__texto{
        width: auto;
    }

    .presentacion__enlaces{
        justify-content: center;
        padding: 1%;
    }

}

@media (max-width: 300px) {
    .presentacion__enlaces{
        align-items: center;
        flex-direction: column;
        padding: 1%;
    }
}